<div class="transition-gradient"></div>
<main>
    <div class="description-top">
        <div class="description-container">
            <div class="container-left">
                <img src="profile_nicollas.png" alt="Nicollas">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/nicollas-rocha-885110249/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                    <a href="https://github.com/knboo320" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
                </div>
            </div>
            <div class="container-right">
                <h1>Quem sou eu? <fa-icon [icon]="faPenNib"></fa-icon></h1>
                <br><br>
                <p>Me chamo Nicollas, tenho 17 anos e moro em Pompéia, São Paulo. Cursei Técnico em Desenvolvimento de Sistemas Integrado ao Ensino Médio no SENAI Shunji Nishimura em 2022 e atualmente finalizei o curso, no fim do primeiro semestre de 2024. <br> Meu interesse pelo front-end começou em 2022 quando fiz algumas atividades de Angular das olimpíadas do conhecimento, onde o Angular se transformou no framework em que me aprofundei, além de ter participado do Grand Prix SENAI de Inovação. <br> Sou aficionado na construção e no design de sites web, e atualmente possuo experiência em: <b>Angular, HTML, CSS, Sass, JavaScript, TypeScript e MySQL</b>. <br> Você pode me encontrar no <b>Github</b>, onde armazeno meus projetos pessoais, ou também no <b>LinkedIn</b>, onde mostro meu desenvolvimento profissional.</p>
            </div>
        </div>
    </div>
    <div class="description-bottom">
        <div class="email-container">
            <h2><fa-icon [icon]="faEnvelopeOpenText"></fa-icon> Email de contato:</h2>
            <div class="email-area">
                <div class="email-box" [class.flash-green]="isCopied"><p>{{ message }}</p></div>
                <button class="copy-email" (click)="copyEmail()">COPIAR</button>
            </div>
        </div>
    </div>
</main>