<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="transition-gradient"></div>
<main>
    <h1 data-aos="fade-down"><span id="thin-title">MEUS</span> <br> <span id="bold-title">PROJETOS</span></h1>
    <div class="projects-display">
        <div class="display-row" id="display-top">
            <div class="single-display">
                <img src="project_quirinos.png" alt="">
                <p id="project-title"><span id="thin-title">TCC EM ANGULAR PARA EMPRESA REAL</span><br><span id="bold-title">CENTRAL DE GERENCIAMENTO DE SERVIÇOS</span></p>
                <button (click)="openQuirinosDialog()"><span id="bold-title">VER MAIS</span></button>
            </div>
            <div class="single-display">
                <img src="project_equivaler.png" alt="">
                <p id="project-title" class="tablet-mockup"><span id="thin-title">EMPRESA REAL</span><br><span id="bold-title">VENDA DE PRODUTOS <br> AGRÍCOLAS</span></p>
                <button (click)="openEquivalerDialog()"><span id="bold-title">VER MAIS</span></button>
            </div>
        </div>
        <div class="display-row" id="display-bottom">
            <div class="single-display">
                <img src="project_sculptor.png" alt="">
                <p id="project-title"><span id="thin-title">GRAND PRIX SENAI DE INOVAÇÃO</span><br><span id="bold-title">FRONT-END DE LOUSA AUTO INCREMENTAL <br> COM IA</span></p>
            </div>
            <div class="single-display">
                <img src="project_pokedex.png" alt="">
                <p id="project-title" class="tablet-mockup"><span id="thin-title">ESTUDO DE API</span><br><span id="bold-title">POKEDEX</span></p>
            </div>
        </div>
        <div class="display-bottom"></div>
    </div>
</main>

</body>
</html>