<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main>
        <div class="main-text">
            <p class="about-me" id="greeting" data-aos="fade-down">OI 👋, EU SOU O NICOLLAS</p>
            <div class="top-text">
                <p class="title" id="angular" data-aos="fade-right">ANGULAR</p>
                <div class="social-icons" data-aos="fade-left">
                    <a id="icon" href="https://www.linkedin.com/in/nicollas-rocha-885110249/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                    <a id="icon" href="https://github.com/knboo320" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
                </div>
            </div>
            <div class="bottom-text">
                <p class="title" id="developer" data-aos="fade-left">DEVELOPER</p>
            </div>
            <p class="about-me" id="description" data-aos="fade-up">TENHO 17 ANOS, COM CURSO FINALIZADO <br> DE DESENVOLVIMENTO DE SISTEMAS NO <br> SENAI, COM DURAÇÃO DE 2 ANOS.</p>
        </div>
    </main>
</body>
</html>
<app-projects></app-projects>
<app-about-me></app-about-me>